@media (min-width: 1300px) {

  #course-carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    img{
      width: 100%!important;
    }

    .inscricao{
      right: 10%;
      z-index: 999;
      position: absolute;
      align-self: flex-end;
      width: fit-content;
      padding: 24px;
      border-radius: 12px;
      background-color: #1984ba;
      display: flex;
      flex-direction: column;
      p{
        text-transform: uppercase;
        font-size: 46px;
        font-family: 'nexa';
        color: white;
        margin: 0;
        font-weight: bold;
      }
      input{
        margin: 6px 0px;
        height: 48px;
      }
      ::-webkit-input-placeholder { /* Edge */
        margin-left: 24px;
        color: #2f3451;
        font-size: 20px;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        margin-left: 24px;
        color: #2f3451;
        font-size: 20px;
      }

      ::placeholder {
        margin-left: 24px;
        color: #2f3451;
        font-size: 20px;
      }
      .select-container{
        .select-inscricao{
          width: 50%;
          display: inline-block;
          border-radius: none;
          margin: 6px 0px;
          height: 48px;
          &:first-child{
            width: 49%;
            margin-right: 1%;
          }
        }
      }
      .button-inscricao{
        align-self: flex-end;
        margin: 12px 0 0 0;
        padding: 12px;
        border-radius: 12px;
        text-align: center;
        width: 50%;
        background-color: #d51019;
        p{
          font-size: 18px;
          color: white;
          font-family: 'roboto-regular';
          letter-spacing: 1px;


        }
      }

    }
  }
}

@media (min-width: 950px) and (max-width: 1299px) {

  #course-carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    img{
      width: 100%!important;
    }

    .inscricao{
      right: 10%;
      z-index: 999;
      position: absolute;
      align-self: flex-end;
      width: fit-content;
      padding: 24px;
      border-radius: 12px;
      background-color: #1984ba;
      display: flex;
      flex-direction: column;
      p{
        text-transform: uppercase;
        font-size: 32px;
        font-family: 'nexa';
        color: white;
        margin: 0;
        font-weight: bold;
      }
      input{
        margin: 6px 0px;
        height: 32px;
      }
      ::-webkit-input-placeholder { /* Edge */
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }

      ::placeholder {
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }
      .select-container{
        .select-inscricao{
          width: 50%;
          display: inline-block;
          border-radius: none;
          margin: 6px 0px;
          height: 32px;
          &:first-child{
            width: 49%;
            margin-right: 1%;
          }
        }
      }
      .button-inscricao{
        align-self: flex-end;
        margin: 12px 0 0 0;
        padding: 6px;
        border-radius: 12px;
        text-align: center;
        width: 50%;
        background-color: #d51019;
        p{
          font-size: 18px;
          color: white;
          font-family: 'roboto-regular';
          letter-spacing: 1px;


        }
      }

    }
  }
}

@media (min-width: 700px) and (max-width: 949px) {
  #course-carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    img{
      width: 100%!important;
    }

    .inscricao{
      right: 10%;
      z-index: 999;
      position: absolute;
      align-self: flex-end;
      width: fit-content;
      padding: 24px;
      border-radius: 12px;
      background-color: #1984ba;
      display: flex;
      flex-direction: column;
      p{
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'nexa';
        color: white;
        margin: 0;
        font-weight: bold;
      }
      input{
        margin: 2px 0px;
        height: 28px;
      }
      ::-webkit-input-placeholder { /* Edge */
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }

      ::placeholder {
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }
      .select-container{
        .select-inscricao{
          width: 50%;
          display: inline-block;
          border-radius: none;
          margin: 2px 0px;
          height: 28px;
          &:first-child{
            width: 49%;
            margin-right: 1%;
          }
        }
      }
      .button-inscricao{
        align-self: flex-end;
        margin: 6px 0 0 0;
        padding: 2px;
        border-radius: 8px;
        text-align: center;
        width: 50%;
        background-color: #d51019;
        p{
          font-size: 16px;
          color: white;
          font-family: 'roboto-regular';
          letter-spacing: 1px;


        }
      }

    }
  }
}


@media (min-width: 1px) and (max-width: 699px) {
  #course-carousel{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;

    img{
      width: 140%;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    .inscricao{
      margin: 12px 0;
      position: relative;
      align-self: center;
      width: fit-content;
      padding: 24px;
      border-radius: 12px;
      background-color: #1984ba;
      display: flex;
      flex-direction: column;
      p{
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'nexa';
        color: white;
        margin: 0;
        font-weight: bold;
      }
      input{
        margin: 2px 0px;
        height: 28px;
      }
      ::-webkit-input-placeholder { /* Edge */
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }

      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }

      ::placeholder {
        margin-left: 24px;
        color: #2f3451;
        font-size: 16px;
      }
      .select-container{
        .select-inscricao{
          width: 50%;
          display: inline-block;
          border-radius: none;
          margin: 2px 0px;
          height: 28px;
          &:first-child{
            width: 49%;
            margin-right: 1%;
          }
        }
      }
      .button-inscricao{
        align-self: flex-end;
        margin: 6px 0 0 0;
        padding: 2px;
        border-radius: 8px;
        text-align: center;
        width: 50%;
        background-color: #d51019;
        p{
          font-size: 16px;
          color: white;
          font-family: 'roboto-regular';
          letter-spacing: 1px;


        }
      }

    }
  }
}
