@media (min-width: 1200px) {

  #valencia{
    display: flex;
    flex-direction: column;
    #background{
      background-image: url("./man-book.png");
      background-position: center left;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      height: 80vh;
      width: 45%;
    }
    #content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .parceria-container{
        height: 50vh;
        display: flex;
        padding: 32px;
        padding-left: 40%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .parceria{
          font-family: 'pintgramm';
          font-size: 100px;
          line-height: 96px;
          color: #2f3454;

        }
        img{
          width: 550px;
          margin-bottom: 24px;
        }
        .txt{
          font-size: 24px;
        }
      }
      #study{
        height: 30vh;
        padding: 32px;
        padding-left: 45%;
        background-color: #bf3119;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .text{

          p{
            text-transform: uppercase;
            color: white;
            font-size: 50px;
            line-height: 55px;
            margin: 0;
            font-family: 'nexa';
          }
          .yellow{
            color: #f9b81e;

          }
        }
        .button{
          background-color: white;
          border-radius: 8px;
          padding: 18px 24px;
          text-decoration: none;
          .faca{
            color: #626262;
            margin: 0;
            font-size: 22px;
            font-family: 'roboto-regular';

          }
          .saiba{
            color: #bf3119;
            text-transform: uppercase;
            font-family: 'roboto-bold';

            font-size: 36px;
            line-height: 36px;
            margin: 0;
          }
        }
      }
    }

  }
}

@media (min-width: 701px) and (max-width: 1199px) {

  #valencia{
    display: flex;
    flex-direction: column;
    #background{
      display: none;
    }
    #content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .parceria-container{
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .parceria{
          font-family: 'pintgramm';
          font-size: 80px;
          line-height: 80px;
          color: #2f3454;

        }
        img{
          width: 550px;
          margin-bottom: 24px;
        }
        .txt{
          font-size: 24px;
          padding: 0 132px;
        }
      }
      #study{
        height: 30vh;
        padding: 32px;
        background-color: #bf3119;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .text{
          display: inline;
          p{
            text-transform: uppercase;
            color: white;
            font-size: 50px;
            line-height: 55px;
            margin: 0;
            font-family: 'nexa';
          }
          .yellow{
            color: #f9b81e;

          }
        }
        .button{
          background-color: white;
          border-radius: 8px;
          padding: 18px 24px;
          text-decoration: none;
          .faca{
            color: #626262;
            margin: 0;
            font-size: 22px;
            font-family: 'roboto-regular';

          }
          .saiba{
            color: #bf3119;
            text-transform: uppercase;
            font-family: 'roboto-bold';

            font-size: 36px;
            line-height: 36px;
            margin: 0;
          }
        }
      }
    }

  }
}


@media (min-width: 541px) and (max-width: 700px) {

  #valencia{
    display: flex;
    flex-direction: column;
    #background{
      display: none;
    }
    #content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .parceria-container{
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .parceria{
          font-family: 'pintgramm';
          padding: 0 40px;

          font-size: 60px;
          line-height: 60px;
          color: #2f3454;

        }
        img{
          width: 550px;
          margin-bottom: 24px;
          max-width: 90%;
          overflow: hidden;
        }
        .txt{
          font-size: 24px;
          padding: 0 40px;
        }
      }
      #study{
        height: 30vh;
        padding: 32px;
        background-color: #bf3119;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        .text{
          display: inline;
          p{
            text-transform: uppercase;
            color: white;
            font-size: 40px;
            line-height: 40px;
            margin: 0;
            font-family: 'nexa';
          }
          .yellow{
            color: #f9b81e;

          }
        }
        .button{
          background-color: white;
          border-radius: 8px;
          padding: 18px 24px;
          text-decoration: none;
          .faca{
            color: #626262;
            margin: 0;
            font-size: 18px;
            font-family: 'roboto-regular';

          }
          .saiba{
            color: #bf3119;
            text-transform: uppercase;
            font-family: 'roboto-bold';

            font-size: 30px;
            line-height: 30px;
            margin: 0;
          }
        }
      }
    }

  }
}

@media (min-width: 1px) and (max-width: 540px) {

  #valencia{
    display: flex;
    flex-direction: column;
    #background{
      display: none;
    }
    #content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .parceria-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .parceria{
          font-family: 'pintgramm';
          padding: 0 40px;
          margin: 12px 0;

          font-size: 60px;
          line-height: 60px;
          color: #2f3454;

        }
        img{
          width: 550px;
          margin-bottom: 22px;
          max-width: 90%;
          overflow: hidden;
        }
        .txt{
          font-size: 20px;
          padding: 0 40px;
        }
      }
      #study{
        // height: 30vh;
        padding: 32px;
        background-color: #bf3119;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .text{
          display: inline;
          margin-bottom: 32px;
          p{
            text-transform: uppercase;
            color: white;
            font-size: 40px;
            line-height: 40px;
            margin: 0;
            font-family: 'nexa';
          }
          .yellow{
            color: #f9b81e;

          }
        }
        .button{
          background-color: white;
          border-radius: 8px;
          padding: 18px 24px;
          text-decoration: none;
          .faca{
            color: #626262;
            margin: 0;
            font-size: 18px;
            font-family: 'roboto-regular';

          }
          .saiba{
            color: #bf3119;
            text-transform: uppercase;
            font-family: 'roboto-bold';

            font-size: 30px;
            line-height: 30px;
            margin: 0;
          }
        }
      }
    }

  }
}
