@media (min-width: 1200px) {

  #about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 0 0;
    background: url(../../assets/images/bg-elements.png) no-repeat;
    background-size: contain;
    background-size: 50%;
    background-position: top center;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    .container{
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      .row{
        .cursos{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 24px;
          img{
            max-width: 85px;
          }
        }
      }
    }
    aside{
      .sobre{
        margin-bottom: 18px;
        p{
          color: #9799ab;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;

          margin: 0;
          &:last-child{
            padding-right: 12px;
            width: fit-content;
            border-bottom: solid #9799ab;
          }
        }
      }

      .historia{
        margin-bottom: 12px;
        p{
          margin: 0;
          color: #2f3451;
          font-family: 'pintgramm';
          font-size: 96px;
          line-height: 96px;
        }
      }

    }
    .detalhes{
      background-color: #af1b1b;
      display: flex;
      padding: 32px;
      width: 100%;
      justify-content: space-around;
      img{
        max-height: 100px;
      }
    }



  }
}



@media (min-width: 761px) and (max-width: 1199px) {

  #about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 0 0;
    background: url(../../assets/images/bg-elements.png) no-repeat;
    background-size: contain;
    background-size: 50%;
    background-position: top center;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    .container{
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      .row{
        .cursos{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 24px;
          img{
            max-width: 85px;
          }
        }
      }
    }
    aside{
      .sobre{
        margin-bottom: 18px;
        p{
          color: #9799ab;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;

          margin: 0;
          &:last-child{
            padding-right: 12px;
            width: fit-content;
            border-bottom: solid #9799ab;
          }
        }
      }

      .historia{
        margin-bottom: 12px;
        p{
          margin: 0;
          color: #2f3451;
          font-family: 'pintgramm';
          font-size: 96px;
          line-height: 96px;
        }
      }

    }
    .detalhes{
      background-color: #af1b1b;
      display: flex;
      padding: 32px;
      width: 100%;
      justify-content: space-around;
      img{
        max-height: 100px;
      }
    }



  }
}


@media (min-width: 500px) and (max-width: 760px) {

  #about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 0 0;
    background: url(../../assets/images/bg-elements.png) no-repeat;
    background-size: contain;
    background-size: 50%;
    background-position: top center;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    .container{
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      .row{
        .cursos{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 24px;
          img{
            max-width: 85px;
          }
        }
      }
    }
    aside{
      .sobre{
        margin-bottom: 18px;
        p{
          color: #9799ab;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;

          margin: 0;
          &:last-child{
            padding-right: 12px;
            width: fit-content;
            border-bottom: solid #9799ab;
          }
        }
      }

      .historia{
        margin-bottom: 12px;
        p{
          margin: 0;
          color: #2f3451;
          font-family: 'pintgramm';
          font-size: 96px;
          line-height: 96px;
        }
      }

    }
    .detalhes{
      background-color: #af1b1b;
      display: flex;
      padding: 32px;
      width: 100%;
      justify-content: space-around;
      img{
        max-height: 100px;
      }
    }



  }
}

@media (min-width: 1px) and (max-width: 499px) {

  #about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 0 0;
    background: url(../../assets/images/bg-elements.png) no-repeat;
    background-size: contain;
    background-size: 50%;
    background-position: top center;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    .container{
      background-position: right;
      background-repeat: no-repeat;
      background-size: 0px;
      .row{
        .cursos{
          width: 100%;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 24px;
          img{
            max-width: 55px;
          }
        }
      }
    }
    aside{
      padding: 0px 32px;
      .sobre{
        margin-bottom: 18px;
        p{
          color: #9799ab;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;

          margin: 0;
          &:last-child{
            padding-right: 12px;
            width: fit-content;
            border-bottom: solid #9799ab;
          }
        }
      }

      .historia{
        margin-bottom: 12px;
        p{
          margin: 0;
          color: #2f3451;
          font-family: 'pintgramm';
          font-size: 96px;
          line-height: 96px;
        }
      }

    }
    .content{
      padding: 0px 32px;
    }
    .detalhes{
      background-color: #af1b1b;
      display: flex;
      padding: 32px;
      width: 100%;
      justify-content: space-around;
      overflow: hidden;
      img{
        max-height: 70px;
      }
    }



  }
}
