#units-list{
  display: flex;
  align-items: center;
  position: relative;
  padding: 32px 0px;
  background: url(../../assets/images/bg-elements.png) no-repeat;
  background-size: contain;
  background-size: 50%;
  background-position: top center;
  background-repeat-x: repeat;
  background-repeat-y: no-repeat;

  aside{
    .label{
      margin-bottom: 18px;
      p{
        text-transform: uppercase;
        font-family: 'nexa';
        letter-spacing: 1px;
        margin: 0;
        padding-right: 12px;
        width: fit-content;
        border-bottom: solid #9799ae;
      }
    }

    .unidades{
      margin-bottom: 64px;
      p{
        margin: 0;
        color: #2f3451;
        font-family: 'pintgramm';
        font-size: 96px;
        line-height: 86px;
    }
    }

  }
  .state-list{
    ul{
      list-style-type: none;
      li{
        a{
          color: #ba221f;
          text-decoration: underline;
          font-size: 20px;
        }
      }
    }

  }
  .units-list{
    ul{
      list-style-type: none;
      .unit{
        margin-bottom: 24px;
        .unit-name{
          text-decoration: none;
          p{
            margin: 0;
            color: #790005;
            font-size: 26px;
            font-weight: bold;
          }
        }
        .unit-address-phone{
          p{
            margin: 0;
            color: #606060;
          }
        }
        .unit-site{
          a{
            margin: 0;
            color: #00afb6;
            text-decoration: none;
          }

        }
      }
    }
  }




}
