@media (min-width: 750px){
  #main-nav{
    display: flex;
    background-color: white;
    padding: 12px 44px !important;
    .nav-content{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .logo-container{
        img{
          width: 130px;
          overflow: hidden;
        }
      }
      .nav-menu-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        .menu-item{
          flex: 0 0 auto;
          margin: 0 8px;
          a{
            padding: 8px;
            color: #2e354f !important;
            text-decoration: none;
            font-size: 19px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all 0.35s ease;
            position: relative;
            text-decoration: none;
            // padding-right: 0 !important;
            // padding-left: 0 !important;

            &:hover{
              color: #0a0a0a;
              transition: all 0.35s ease;
            }

            &:before {
              margin-left: .5rem;
              top: 0;
              left: 0;

              height: 4px;
              position: absolute;
              content: '';
              transition: all 0.35s ease;
              background-color: #2e354f;
              width: 0;
            }
            &:hover:before {
              width: 50%;
            }

          }
        }
      }
      .menu-toggler{
        display: none;
        span{
          // background-image: url(./hamburger2.png);
          background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(175, 27, 27, 1)' stroke-width='4' stroke-linecap='' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
          background-size: 55px;
          height: 90px;
          width:90px;


        }
      }
    }
    .nav-mobile-content{
      display: none;
      flex-direction: column;
    }

  }

}

@media (min-width: 1px) and (max-width: 749px){


  #main-nav{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px 44px !important;
    .nav-content{
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      .logo-container{
        img{
          width: 130px;
          overflow: hidden;
        }
      }
      .nav-menu-container{
        display: none;
        flex-direction: row;
        align-items: center;
        .menu-item{
          flex: 0 0 auto;
          margin: 0 8px;
          a{
            padding: 8px;
            color: #2e354f !important;
            text-decoration: none;
            font-size: 19px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all 0.35s ease;
            position: relative;
            text-decoration: none;
            // padding-right: 0 !important;
            // padding-left: 0 !important;

            &:hover{
              color: #0a0a0a;
              transition: all 0.35s ease;
            }

            &:before {
              margin-left: .5rem;
              top: 0;
              left: 0;

              height: 4px;
              position: absolute;
              content: '';
              transition: all 0.35s ease;
              background-color: #2e354f;
              width: 0;
            }
            &:hover:before {
              width: 50%;
            }

          }
        }
      }
      .menu-toggler{
        button{
          margin: 0;
        }
        span{
          // background-image: url(./hamburger2.png);
          background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(175, 27, 27, 1)' stroke-width='4' stroke-linecap='' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
          background-size: 55px;
          height: 90px;
          width: 50px;


        }
      }
    }
    .nav-mobile-content{
      display: flex;
      flex-direction: column;
      .menu-item{
        flex: 0 0 auto;
        margin: 0 8px;
        padding: 8px 0;
        a{
          padding: 8px;
          color: #2e354f !important;
          text-decoration: none;
          font-size: 19px;
          font-weight: 500;
          text-transform: uppercase;
          transition: all 0.35s ease;
          position: relative;
          text-decoration: none;
          // padding-right: 0 !important;
          // padding-left: 0 !important;

          &:hover{
            color: #0a0a0a;
            transition: all 0.35s ease;
          }

          &:before {
            margin-left: .5rem;
            top: 0;
            left: 0;

            height: 4px;
            position: absolute;
            content: '';
            transition: all 0.35s ease;
            background-color: #2e354f;
            width: 0;
          }
          &:hover:before {
            width: 50%;
          }

        }
      }

    }

  }
}
