$azul: #1c4984;

@media (min-width: 950px) {

  .rodape{
    font-family: 'roboto-regular';
      background-color: $azul;
      color: white;
      padding: 22px 44px !important;
      display: flex;
      justify-content: space-between;
      .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            height: 100px;
        }
      }

          .social-franqueado{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .social{
                  display: flex;
                  flex-direction: row;
                  .social-text{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      margin-right: 24px;;
                      p{
                          margin: 0;
                          padding: 0;
                          text-transform: capitalize;
                          font-size: 18px;
                      }
                  }

                  .social-icons{
                      display: flex;
                      flex-direction: row;
                      align-items: center;

                      a{
                          margin-right: 14px;
                          .icone{
                              width: 35px;
                              height: 35px;
                              margin-right: 2px;
                              cursor: pointer;
                              font-size: 0;
                          }

                          .youtube{
                              background: url(../../assets/images/youtube.png) no-repeat;
                              background-size: 34px;
                              background-position: center;
                          }
                          .facebook{
                              background: url(../../assets/images/facebook.png) no-repeat;
                              background-size: 34px;
                              background-position: center;

                          }
                          .instagram{
                              background: url(../../assets/images/instagram.png) no-repeat;
                              background-size: 34px;
                              background-position: center;
                          }
                      }
                  }



              }

            }


        .franqueado{
          display: flex;
          img{
            max-width: 300px;
          }
        }

  }
}

@media (min-width: 621px) and (max-width: 949px){

  .rodape{
    font-family: 'roboto-regular';
      background-color: $azul;
      color: white;
      padding: 22px 44px !important;
      display: flex;
      justify-content: space-between;
      .logo-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
            height: 80px;
        }
      }

          .social-franqueado{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .social{
                  display: flex;
                  flex-direction: column;
                  .social-text{
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      margin-right: 24px;;
                      p{
                          margin: 0;
                          padding: 0;
                          text-transform: capitalize;
                          font-size: 18px;
                      }
                  }

                  .social-icons{
                      display: flex;
                      flex-direction: row;
                      align-items: center;

                      a{
                          margin-right: 14px;
                          .icone{
                              width: 35px;
                              height: 35px;
                              margin-right: 2px;
                              cursor: pointer;
                              font-size: 0;
                          }

                          .youtube{
                              background: url(../../assets/images/youtube.png) no-repeat;
                              background-size: 34px;
                              background-position: center;
                          }
                          .facebook{
                              background: url(../../assets/images/facebook.png) no-repeat;
                              background-size: 34px;
                              background-position: center;

                          }
                          .instagram{
                              background: url(../../assets/images/instagram.png) no-repeat;
                              background-size: 34px;
                              background-position: center;
                          }
                      }
                  }



              }

            }


        .franqueado{
          display: flex;
          img{
            max-width: 200px;
          }
        }

  }
}

@media (min-width: 1px) and (max-width: 620px){

  .rodape{
    font-family: 'roboto-regular';
      background-color: $azul;
      color: white;
      padding: 22px 44px !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 16px 0;
        img{
          width: 80% ;
        }
      }
      .social-franqueado{
        display: flex;
        padding: 16px 0;
        flex-direction: row;
        justify-content: center;
        .social{
          display: flex;
          flex-direction: column;
          .social-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 12px;
            text-align: center;
            p{
              margin: 0;
              padding: 0;
              text-transform: capitalize;
              font-size: 18px;
            }
          }

          .social-icons{
            display: flex;
            flex-direction: row;
            align-items: center;

            a{
              margin-right: 14px;
              .icone{
                width: 35px;
                height: 35px;
                margin-right: 2px;
                cursor: pointer;
                font-size: 0;
              }
              .youtube{
                background: url(../../assets/images/youtube.png) no-repeat;
                background-size: 34px;
                background-position: center;
              }
              .facebook{
                background: url(../../assets/images/facebook.png) no-repeat;
                background-size: 34px;
                background-position: center;
              }
              .instagram{
                background: url(../../assets/images/instagram.png) no-repeat;
                background-size: 34px;
                background-position: center;
              }
            }
          }

        }

      }


      .franqueado{
        display: flex;
        img{
          max-width: 100%;
        }
      }

  }
}
