$azul: #1c4984;

.linha{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.copy{
  margin: 0;
  padding: 0;
}

@media (min-width: 950px) {

  .rodape{
    font-family: 'roboto-regular';
    background-color: $azul;
    color: white;
    padding: 22px 44px !important;
    display: flex;
    justify-content: space-around;

      .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
          height: 107px;
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .social{
        display: flex;
        flex-direction: row;

        .social-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 24px;;
          p{
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            font-size: 18px;
          }
        }

        .social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;

          a{
            margin-right: 14px;
            .icone{
              width: 35px;
              height: 35px;
              margin-right: 2px;
              cursor: pointer;
              font-size: 0;
            }

            .youtube{
              background: url(../../assets/images/youtube.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
            .facebook{
              background: url(../../assets/images/facebook.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
            .instagram{
              background: url(../../assets/images/instagram.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
          }
        }
      }

      .franqueado-container{
        justify-content: center;
        flex-direction: row;
        display: flex;
        .franqueado{
          display: flex;
          img{
            max-width: 250px;
          }
        }
      }

  }
}

@media (min-width: 621px) and (max-width: 949px){


  .rodape{
    font-family: 'roboto-regular';
    background-color: $azul;
    color: white;
    padding: 22px 44px !important;
    display: flex;
    justify-content: space-around;

      .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
          width: 180px;
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .social{
        display: flex;
        flex-direction: row;

        .social-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 24px;;
          p{
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            font-size: 18px;
          }
        }

        .social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;

          a{
            margin-right: 14px;
            .icone{
              width: 35px;
              height: 35px;
              margin-right: 2px;
              cursor: pointer;
              font-size: 0;
            }

            .youtube{
              background: url(../../assets/images/youtube.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
            .facebook{
              background: url(../../assets/images/facebook.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
            .instagram{
              background: url(../../assets/images/instagram.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
          }
        }
      }

      .franqueado-container{
        justify-content: center;
        flex-direction: row;
        display: flex;
        .franqueado{
          display: flex;
          img{
            max-width: 250px;
          }
        }
      }

  }
}

@media (min-width: 1px) and (max-width: 620px){


  .rodape{
    font-family: 'roboto-regular';
    background-color: $azul;
    color: white;
    padding: 22px 44px !important;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    overflow: hidden;
    margin: 0 !important;

      .logo-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        img{
          height: 100px;
        }
      }

      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 12px 0;

        .social-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 24px;;
          p{
            margin: 0;
            padding: 0;
            text-transform: capitalize;
            font-size: 18px;
          }
        }

        .social-icons{
          display: flex;
          flex-direction: row;
          align-items: center;

          a{
            margin-right: 14px;
            .icone{
              width: 35px;
              height: 35px;
              margin-right: 2px;
              cursor: pointer;
              font-size: 0;
            }

            .youtube{
              background: url(../../assets/images/youtube.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
            .facebook{
              background: url(../../assets/images/facebook.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
            .instagram{
              background: url(../../assets/images/instagram.png) no-repeat;
              background-size: 34px;
              background-position: center;
            }
          }
        }
      }

      .franqueado-container{
        justify-content: center;
        flex-direction: row;
        display: flex;
        .franqueado{
          display: flex;
          margin: 12px 0;
          img{
            max-width: 250px;
          }
        }
      }

  }
}
