@media (min-width: 1200px) {

  #encontre{
    display: flex;
    align-items: center;
    position: relative;
    padding: 32px 0;
    background-color: #af1b1b;
    .fundo{
      background: url(../../assets/images/bg-elements.png) no-repeat;
      background-size: 50%;
      background-position: top center;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      background-color: white;
      position: absolute;
      height: 170px;
      width: 100%;
      display: flex;
      align-self: flex-end;
      left: 0;
      bottom: 0;

    }
    aside{
      margin-bottom: 64px;

      .unidades{
        margin-bottom: 18px;
        p{
          color: #d0cbc8;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;
          margin: 0;
          padding-right: 12px;
          width: fit-content;
          border-bottom: solid #d0cbc8;
        }
      }

      .conheca{
        margin-bottom: 32px;
        p{
          margin: 0;
          color: white;
          font-family: 'pintgramm';
          font-size: 56px;
          line-height: 50px;
        }
      }

      .lista{
        a{
          color: yellow;
          text-decoration: underline;
          font-style: italic;
        }
      }

    }
    .map-container{
      .find-form{
        margin-bottom: 12px;
        .container{
          padding: 0;
          .select-inscricao{
            width: 100%;
            background-color: #fff;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
          }
          .find-form-button{
            width: 100%;
            background-color: #22305d;
            color: white;
            text-align: center;
          }
        }
      }
    }



  }

  .unit-line{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #af1b1b;
  }
}

@media (min-width: 760px) and (max-width: 1199px){
  #encontre{
    display: flex;
    align-items: center;
    position: relative;
    padding: 32px 0;
    background-color: #af1b1b;
    .fundo{
      background: url(../../assets/images/bg-elements.png) no-repeat;
      background-size: 50%;
      background-position: top center;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      background-color: white;
      position: absolute;
      height: 170px;
      width: 100%;
      display: flex;
      align-self: flex-end;
      left: 0;
      bottom: 0;

    }
    aside{
      margin-bottom: 64px;
      .unidades{
        margin-bottom: 18px;
        p{
          color: #d0cbc8;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;
          margin: 0;
          padding-right: 12px;
          width: fit-content;
          border-bottom: solid #d0cbc8;
        }
      }

      .conheca{
        margin-bottom: 32px;
        p{
          margin: 0;
          color: white;
          font-family: 'pintgramm';
          font-size: 56px;
          line-height: 50px;
        }
      }

      .lista{
        a{
          color: yellow;
          text-decoration: underline;
          font-style: italic;

        }
      }

    }
    .map-container{
      .find-form{
        margin-bottom: 12px;
        .container{
          padding: 0;
          .select-inscricao{
            width: 100%;
            background-color: #fff;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0px;
            margin-bottom: 4px;
          }
          .find-form-button{
            width: 100%;
            background-color: #22305d;
            color: white;
            text-align: center;
          }
        }
      }
    }



  }

  .unit-line{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #af1b1b;
  }
}


@media (min-width: 450px) and (max-width: 759px){
  #encontre{
    display: flex;
    align-items: center;
    position: relative;
    padding: 32px 46px;
    background-color: #af1b1b;
    .fundo{
      background: url(../../assets/images/bg-elements.png) no-repeat;
      background-size: 50%;
      background-position: top center;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      background-color: white;
      position: absolute;
      height: 170px;
      width: 100%;
      display: flex;
      align-self: flex-end;
      left: 0;
      bottom: 0;

    }
    aside{
      margin-bottom: 64px;

      .unidades{
        margin-bottom: 18px;
        p{
          color: #d0cbc8;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;
          margin: 0;
          padding-right: 12px;
          width: fit-content;
          border-bottom: solid #d0cbc8;
        }
      }

      .conheca{
        margin-bottom: 32px;
        p{
          margin: 0;
          color: white;
          font-family: 'pintgramm';
          font-size: 56px;
          line-height: 50px;
        }
      }

      .lista{
        a{
          color: yellow;
          text-decoration: underline;
          font-style: italic;
        }
      }

    }
    .map-container{
      .find-form{
        margin-bottom: 12px;
        .container{
          padding: 0;
          .select-inscricao{
            width: 100%;
            background-color: #fff;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0px;
            margin-bottom: 4px;
          }
          .find-form-button{
            width: 100%;
            background-color: #22305d;
            color: white;
            text-align: center;
          }
        }
      }
    }



  }

  .unit-line{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #af1b1b;
  }
}

@media (min-width: 1px) and (max-width: 449px){

  #encontre{
    display: flex;
    align-items: center;
    position: relative;
    padding: 32px;
    background-color: #af1b1b;
    .fundo{
      background: url(../../assets/images/bg-elements.png) no-repeat;
      background-size: 50%;
      background-position: top center;
      background-repeat-x: repeat;
      background-repeat-y: no-repeat;
      background-color: white;
      position: absolute;
      height: 170px;
      width: 100%;
      display: flex;
      align-self: flex-end;
      left: 0;
      bottom: 0;

    }
    aside{
      .unidades{
        margin-bottom: 18px;
        p{
          color: #d0cbc8;
          text-transform: uppercase;
          font-family: 'nexa';
          letter-spacing: 1px;
          margin: 0;
          padding-right: 12px;
          width: fit-content;
          border-bottom: solid #d0cbc8;
        }
      }

      .conheca{
        margin-bottom: 32px;
        p{
          margin: 0;
          color: white;
          font-family: 'pintgramm';
          font-size: 56px;
          line-height: 50px;
        }
      }

      .lista{
        a{
          color: yellow;
          text-decoration: underline;
          font-style: italic;
        }
      }

    }
    .map-container{
      .find-form{
        margin-bottom: 12px;
        .container{
          padding: 0;
          .select-inscricao{
            width: 100%;
            background-color: #fff;
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: 0px;
            margin-bottom: 4px;
          }
          .find-form-button{
            width: 100%;
            background-color: #22305d;
            color: white;
            text-align: center;
          }
        }
      }
    }



  }

  .unit-line{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #af1b1b;
  }
}
