
@font-face {
	font-family: 'yellow-sun';
	src: url(./assets/fonts/yellosun/yellosun.ttf);
}

@font-face {
	font-family: 'pintgramm';
	src: url(./assets/fonts/pintgram/Pintgram-Regular.ttf);
}

@font-face {
	font-family: 'nexa';
	src: url(./assets/fonts/nexa-rust.sans-black.otf);
}

@font-face {
	font-family: 'roboto-regular';
	src: url(./assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'roboto-medium';
	src: url(./assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'roboto-bold';
	src: url(./assets/fonts/roboto/Roboto-Bold.ttf);
}
